extends base

block append head

block content
    main.main
        div.login-form
            h2.heading-secondary.ma-bt-lg Password reset form
            p.passwordForgotDesc Please, provide token from your email, and new password:
            form.form#passwordResetForm(autocomplete="off")
                div.form__group
                    label.form__label(for='token') Reset Token
                    input#passwordResetToken.form__input(type='text', placeholder='eyJhbGciOiJIUzI1NiIaG4gRG9lk6yJV_adQssw5c', required)
                div.form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#newPassword.form__input(type='password', placeholder='••••••••', required, minlength='8')
                div.form__group.ma-bt-md
                    label.form__label(for='password') Confirm Password
                    input#newPasswordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                div.form__group.form__group--login
                    button.btn.btn--green.login Reset password