extends base

block append head

block content
    main.main
        div.login-form
            h2.heading-secondary.ma-bt-lg Forgot your password?
            p.passwordForgotDesc No worries! 
            p.passwordForgotDesc Provide your email, and we will guide you through restoration process.
            form.form#passwordForgotForm
                div.form__group
                    label.form__label(for='email') Email address
                    input#passwordForgotEmail.form__input(type='email', placeholder='email@example.com', required)
                div.form__group.form__group--login
                    button.btn.btn--green.login Send