extends base

block content
    main.main
        div.login-form
            h2.heading-secondary.ma-bt-lg Create your new account
            form.form#signupForm
                div.form__group
                    label.form__label(for='name') Name
                    input#name.form__input(type='text', placeholder='Rayan Dahl', required, minlength='2')
                div.form__group.ma-bt-md
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='email@example.com', required)
                div.form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                div.form__group.ma-bt-md
                    label.form__label(for='passwordConfirm') Confirm Password 
                    input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                div.form__group
                    button.btn.btn--green Signup