extends baseEmail

block content
    //- p= `Hello, ${firstName}`,
    p Hello, #{firstName}
    p Request to reset user password at Natours.com was issued from this email.
    p Please, click on the button provided bellow and follow instructions.
    p Please, submit PATCH request with new 'password' and 'passwordConfirm' to following link:
    p #{url}
    p (Page for this action not yet implemented 404)
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset password
    p If that wasn't you - just ingnore this email.

    //- from here send user to template with password and passwordConfirm
    //- let user fill the form, get token form data-set
    //- onsubmit perform http request PATCH with followed token
    //- log in user redirect user to profile